body{
   display: flex;
   justify-content: center;
   padding: 30px;
   background-color: black;

}
.Grid{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 700px;
    background-image: url('assets/World.png');
    background-position: top;
    
}

.Grid div{
    width: 20px;
    height: 20px;
}
.invader{
    background-color: purple;
    border-radius: 10px;

}
.invaderSuper{
    background-color: yellow;
    border-radius: 10px;
}

.Player{
    background-color: red;
    border-radius: 10px;
}
.laser{
    background-color: orange;
}